



<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/html5logo.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">HTML</h5>
    <p class="card-text">HTML, or Hypertext Markup Language, is a markup language for the web that defines the structure of web pages.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/css logo.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">CSS</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/JavaScript_logo_.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">JavaScript</h5>
    <p class="card-text">JavaScript is a dynamic programming language that's used for web development, in web applications, for game development, and lots more. It allows you to implement dynamic features on web pages that cannot be done with only HTML and CSS.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/css logo.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">NodeJs</h5>
    <p class="card-text"> </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>













<div class="eachcategory card shadow rounded bg-dark text-white mb-4">
     <div class="card-body">
        <div class="row">








        </div>
    </div>
</div>