



<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/html5logo.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">HTML</h5>
    <p class="card-text">HTML, or Hypertext Markup Language, is a markup language for the web that defines the structure of web pages.</p>
    <a href="#" class="btn btn-primary">Add Card</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/css logo.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">CSS</h5>
    <p class="card-text">CSS stands for Cascading Style Sheets. CSS describes how HTML elements are to be displayed on screen, paper, or in other media. CSS saves a lot of work. It can control the layout of multiple web pages all at once. External stylesheets are stored in CSS files.</p>
    <a href="#" class="btn btn-primary">Add Card</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/JavaScript_logo_.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">JavaScript</h5>
    <p class="card-text">JavaScript is a dynamic programming language that's used for web development, in web applications, for game development, and lots more. It allows you to implement dynamic features on web pages that cannot be done with only HTML and CSS.</p>
    <a href="#" class="btn btn-primary">Add Card</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/nodejs-1.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">NodeJs</h5>
    <p class="card-text"> Node.js is an open-source, cross-platform, back-end JavaScript runtime environment that runs on a JavaScript Engine and executes JavaScript code outside a web browser, which was designed to build scalable network applications. Node.js lets developers use JavaScript to write command line tools and for server-side scripting—running scripts server-side to produce dynamic web page content before the page is sent to the user's web browser.</p>
    <a href="#" class="btn btn-primary">Add Card</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/css logo.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">ExpressJs</h5>
    <p class="card-text">Express.js is a web application framework for Node.js. It provides various features that make web application development fast and easy which otherwise takes more time using only Node.js.</p>
    <a href="#" class="btn btn-primary">Add Card</a>
  </div>
</div>











<div class="eachcategory card shadow rounded bg-dark text-white mb-4">
     <div class="card-body">
        <div class="row">








        </div>
    </div>
</div>