

<div class="conatiner">
  <div class="row md-2 sm-2">
      <div class="col-md-3"></div>
        <div class="col-md-6">
          <h2 class="text-center">I’m sure you all love the way that online classes scatter your study materials across a million different sites. For those “chosen few” of us who don’t like having to have a sea of bookmarks, you have Momentum. Momentum is a centralized library that holds all of your materials from all of your websites in one easy to access spot. Streamline your studying so that you don’t have to spend as long looking for your study materials as you spend studying!
          </h2>
    






        </div>
      </div>
    </div>
</div>



















{{!-- <div class="row md-2 sm-2">
      <div class="col-md-3"></div>
        <div class="col-md-6">
          <h2 class="text-center"></h2>
  <div class="col-md-6">
    <h3>{{user.email}}</h3>
  </div>
</div>


<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2> {{user.name}}</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>

 --}}



