


<div class="cards d-flex">
<div class="card" style="width: 18rem;">
  <div class="card-body cardStyle">
    <a class="card-title" href="https://www.w3schools.com/html/">HTML</a>
    <p class="card-text">HTML, or Hypertext Markup Language, is a markup language for the web that defines the structure of web pages.</p>
    {{!-- <a href="#" class="btn">Add information</a> --}}
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body cardStyle">
    <a class="card-title" href="https://www.w3schools.com/css/">CSS</a>
    <p class="card-text">CSS stands for Cascading Style Sheets. CSS describes how HTML elements are to be displayed on screen, paper, or in other media. CSS saves a lot of work. It can control the layout of multiple web pages all at once. External stylesheets are stored in CSS files.</p>
    {{!-- <a href="#" class="btn">Add information</a> --}}
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body cardStyle">
    <a class="card-title" href="https://www.w3schools.com/js/">JavaScript</a>
    <p class="card-text">JavaScript is a dynamic programming language that's used for web development, in web applications, for game development, and lots more. It allows you to implement dynamic features on web pages that cannot be done with only HTML and CSS.</p>
    {{!-- <a href="#" class="btn">Add information</a> --}}
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body cardStyle">
    <a class="card-title" href="https://www.w3schools.com/nodejs/">NodeJs</a>
    <p class="card-text"> Node.js is an open-source, cross-platform, back-end JavaScript runtime environment that runs on a JavaScript Engine and executes JavaScript code outside a web browser, which was designed to build scalable network applications. Node.js lets developers use JavaScript to write command line tools and for server-side scripting—running scripts server-side to produce dynamic web page content before the page is sent to the user's web browser.</p>
    {{!-- <a href="#" class="btn">Add information</a> --}}

  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body cardStyle">
    <a class="card-title" href="https://www.w3schools.com/nodejs/">ExpressJs</a>
    <p class="card-text">Express.js is a web application framework for Node.js. It provides various features that make web application development fast and easy which otherwise takes more time using only Node.js.</p>
    {{!-- <a href="#" class="btn">Add information</a> --}}
  </div>
</div>
</div>





    <div class="testClass justify-content-center"><button type="button" class="btn" data-toggle="modal"
        data-target="#exampleModalCenter">
        Click here to add a new card!
      </button></div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add a card</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="submit">
              <input type="text" placeholder="Link" id="link">
              <input type="text" placeholder="Description" id="description">
            </form>
          </div>
          <div class="modal-footer">

            <button type="button" class="btn" data-dismiss="modal" id="theSubmitButton">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div id="submittedButton"></div>

   <script src="/js/library.js"></script>



