{{!-- 


<div class="cards d-flex">
<div class="card" style="width: 18rem;">
  <div class="card-body cardStyle">
    <a class="card-title" href="https://www.w3schools.com/html/">HTML</a>
    <p class="card-text">HTML, or Hypertext Markup Language, is a markup language for the web that defines the structure of web pages.</p>
    {{!-- <a href="#" class="btn">Add information</a> --}}
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body cardStyle">
    <a class="card-title" href="https://www.w3schools.com/css/">CSS</a>
    <p class="card-text">CSS stands for Cascading Style Sheets. CSS describes how HTML elements are to be displayed on screen, paper, or in other media. CSS saves a lot of work. It can control the layout of multiple web pages all at once. External stylesheets are stored in CSS files.</p>
    {{!-- <a href="#" class="btn">Add information</a> --}}
  </div>
</div> --}}

{{#each cards as |card|}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <a class="card-title" href="">{{card.name}}</a>
    <p class="card-text">{{card.description}}</p>
    <a href="#" class="btn btn-primary">Add information</a>
  <div class="card-body">
  </div>
  </div>
</div>
{{/each}}





<div class="testClass justify-content-center"><button type="button" class="btn" data-toggle="modal"
        data-target="#exampleModalCenter">
        Click here to add a new card!
      </button></div> 

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add a card</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="submit">
              <input type="text" placeholder="Link" id="link">
              <input type="text" placeholder="Description" id="description">
            </form>
          </div>
          <div class="modal-footer">

            <button type="button" class="btn" data-dismiss="modal" id="theSubmitButton">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div id="submittedButton"></div> --}}

   <script src="/js/library.js"></script>



