

<br>
<div class="container">
<div class="testClass justify-content-center"><button type="button" class="btn" data-toggle="modal"
        data-target="#exampleModalCenter">
        Click here to add a new card!
      </button></div> 
</div>

<div class="wrap">
{{#each cards as |card|}}
<div class="wrap">
<div class="card">
  <div class="card-body">
    <a class="card-title" href="{{card.name}}">{{card.name}}</a>
    <p class="card-text">{{card.description}}</p>
  </div>
</div>
</div>
</div>
{{/each}}


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add a card</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="submit" method="post">
              <input type="text" placeholder="Link" id="link">
              <input type="text" placeholder="Description" id="description">
            </form>
          </div>
          <div class="modal-footer">

            <button type="button" class="btn" data-dismiss="modal" id="theSubmitButton">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div id="submittedButton"></div> 

   <script src="/js/library.js"></script>



