
<<<<<<< HEAD
<form class="form login-form">
  <div class="form-group">
    <label for="email-login">Email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit" id="loginButton">Login</button>
  </div>
</form>

<script src="/js/login.js"></script>
=======



<div>
  <form class="form login-form  ">
    <div class="form-group">
      <label for="email-login">Email:</label>
      <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
      <label for="password-login">Password:</label>
      <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </form>
</div>














>>>>>>> e83784312b9d66e2371b3516767851a5c84b414d
