.body {
    background-color: black;
}

.container {
    color: azure;
}

.jumbotron {
    text-align: center;
    background-color: rgb(130, 224, 130);
    color: white;
    border-radius: 0;
    border-bottom: 10px solid white;
    height: 50px;
  }

.alignRight {
    text-align: flex-end;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


